@page
@model EmailModel
@{
    ViewData["Title"] = "管理Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" disabled />
                <label asp-for="Email" class="form-label">目前 Email</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" placeholder="請輸入新的 Email" />
                <label asp-for="Input.NewEmail" class="form-label">新的 Email</label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">變更 Email</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
