@model avamvc.Models.Post
@{
    ViewData["Title"] = "新增文章";
}

<h2>新增文章</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">上傳檔案</label>
        <input type="file" name="uploadFile" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">儲存</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
